@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@layer base {
  body {
    @apply font-poppins;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#F7CD1F] duration-75 hover:bg-[#ffea6c] px-10 py-3 rounded-[100px] border border-transparent text-black font-medium;
  }
  .btn-secondary {
    @apply border border-white bg-transparent hover:bg-[#f7cd1f] hover:text-black hover:border-[#f7cd1f]  duration-75  px-10 py-3 rounded-[100px];
  }
  .simple-card {
    @apply sm:text-center flex flex-row-reverse sm:flex-col  items-center justify-between pb-2 border-b border-b-[#ffffff]/40 sm:border-b-0 sm:border-r  pr-0 sm:pr-10;
  }
  .icon-xl {
    @apply h-[40px] w-[40px] md:h-[60px] md:w-[60px] object-contain fill-white hover:fill-[#F7CD1F];
  }
  header a,
  .MuiDrawer-root a {
    @apply font-normal hover:text-[#f7cd1f];
  }
  .footer-link {
    @apply text-gray-300 hover:text-[#f7cd1f] text-sm md:text-base;
  }
  .price {
    @apply font-medium text-sm md:text-lg text-[#0DC97A];
  }
  .reduced-price {
    @apply line-through text-sm md:text-sm font-light text-gray-500;
  }
  .qty-btn {
    @apply bg-[#D9D9D9]/40 p-2 rounded-[100%] w-8 h-8 cursor-pointer hover:bg-[#F7CD1F] hover:text-black;
  }
  .input {
    @apply border bg-[#EDF2F7] rounded-md py-2 px-2 focus:outline-[#f7cd1f];
  }
}

/* Custom styles */
.box-shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
h1 {
  font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (2000 - 300)));
}
h2 {
  font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (2000 - 300)));
}
h3 {
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (2000 - 300)));
}

p {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (2000 - 300)));
}

.MuiPagination-ul li button[aria-current="true"] {
  background-color: #f7cd1f;
}
.MuiPagination-ul li button[aria-current="true"]:hover {
  background-color: orange;
}
.parsed-text p {
  margin-top: 8px;
  line-height: 1.8;
}
.testimonial p {
  font-size: 14px;
}

/* Custom checkbox */
.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  cursor: pointer;
}

.checkbox label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid gray;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  border-radius: 50px;
}

.checkbox input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #0dc97a;
  border: 2px solid #0dc97a;
  border-radius: 50px;
}

.contact-form label span {
  position: absolute;
  right: 0;
  bottom: 0;
}
.cart-container > div {
  display: none;
}
/* Custom input range */
input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  cursor: pointer;
  border-radius: 20px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 80px;
  height: 40px;
  /* background: #f7cd1f; */
  background: #fff;
  border-radius: 100%;
  border: 2px solid #999;
}

/* Custom scrollbar  */
* {
  scrollbar-width: auto;
  scrollbar-color: #f7cd1f #fff;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 54);
  border-radius: 100px;
  border: 3px solid #fff;
}

@media (min-width: 767px) and (max-width: 2000px) {
  .container {
    max-width: 90vw;
  }
}

@media (min-width: 2001px) {
  .container {
    max-width: 1800px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

/* Check animation */
.check-container {
  margin: 0 auto;
}
.svg-success {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
  opacity: 1;
  overflow: visible;
}
@keyframes success-tick {
  0% {
    stroke-dashoffset: 16px;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 31px;
    opacity: 1;
  }
}
@keyframes success-circle-outline {
  0% {
    stroke-dashoffset: 72px;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
@keyframes success-circle-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.svg-success .success-tick {
  fill: none;
  stroke-width: 1px;
  stroke: #fff;
  stroke-dasharray: 15px, 15px;
  stroke-dashoffset: -14px;
  animation: success-tick 450ms ease 1400ms forwards;
  opacity: 0;
}
.svg-success .success-circle-outline {
  fill: none;
  stroke-width: 1px;
  stroke: #81c038;
  stroke-dasharray: 72px, 72px;
  stroke-dashoffset: 72px;
  animation: success-circle-outline 300ms ease-in-out 800ms forwards;
  opacity: 0;
}
.svg-success .success-circle-fill {
  fill: #81c038;
  stroke: none;
  opacity: 0;
  animation: success-circle-fill 300ms ease-out 1100ms forwards;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .svg-success .success-tick {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: none;
    opacity: 1;
  }
  .svg-success .success-circle-outline {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: none;
    opacity: 1;
  }
  .svg-success .success-circle-fill {
    animation: none;
    opacity: 1;
  }
}

/* Change Autocomplete styles in Chrome*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */
